.bell-notification {
    color: #fff;
    position: relative;
    animation: bell 1s linear infinite alternate-reverse;
    transform-origin: top;
  }
  .bell{
    cursor: pointer;
    font-size: 30px;
  }
  /* @keyframes bell {
    0% {
      transform: rotate(-20deg);
    }
    100% {
      transform: rotate(20deg);
    }
  } */
  
  .bell-notification::after {
    content: attr(current-count);
    position: absolute;
    top: 5px;
    right: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    /* border: 10px solid #01111b; */
  }
  
  