
.TraineeDetail{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;    
  height: 550px !important; 

}
.traineeProfileCard{
  height: 28.5rem;
  overflow-y: scroll; 
    overflow-x: hidden;
}
.task-submission{
  height: 550px !important; 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.TraineeDetail{
    scrollbar-width: thin;
    scrollbar-color: #009dff #ffffff;
  }

.TraineeDetail::-webkit-scrollbar {
    width: 4px;
  }

  .TraineeDetail::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .TraineeDetail::-webkit-scrollbar-thumb {
    background-color: #009dff;
    border-radius: 10px;
    border: 3px none #ffffff;
  }
.segmented-buttons{
  background-color: rgb(227, 227, 227);
  height: 49px;
}
.segmented-buttons button {
  flex-grow: 1;
  border-radius: 0;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
}

.segmented-buttons button:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.segmented-buttons button:last-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  left: 125px;
}
#taskButton{
  background-color: #fff;
  color: black;
  transition: background-color 0.9s ease;
}
#submissionButton{
  background-color: #fff;
  color: black;
  transition: background-color 0.9s ease;
}
