.mentorDetailMainContainer {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 500px;
}
.mentorTable {
  max-height: 400px;
  overflow-x: auto;
  overflow-y: auto;
}
/* #email, #FirstTraineeEmail, #SecondTraineeEmail {
  height:40px;
  
  
}
option{
  overflow-y:scroll;
} */

 .scrollable-dropdown {
  max-height: 50px; /* Adjust the height as per your requirements */
   overflow-y: auto; }

/* media(max-width){
    .me
} */
