.small-box {
    background-color: #ffffff;
    max-height: 20rem;
    width: 19rem;
    left: -11rem;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
    overflow: auto;
}

.taskNotification,
.submissionNotification {
    background-color: #f9f9f9;
    padding: 10px 15px;
}

.taskNotification p,
.submissionNotification p {
    margin: 0;
    font-size: 14px;
    font-weight: 500;
    color: #333333;
}
.taskName{
    bottom: 0.4rem;
}
.taskDate {
    right: 1rem;
    bottom: 0.4rem;
}
.small-box hr{
    border: none;
    border-top: 1px solid black;
    margin: 0 0;
}
