.small-box {
  z-index: 10;
  background-color: #ffffff;
  max-height: 20rem;
  width: 19rem;
  left: -11rem;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  overflow: auto;
}
.close-box {
  display: none;
}
.notificationRow{
  background-color: #cfe2ff !important;
}
.bell-notification {
    color: #fff;
    position: relative;
    animation: bell 1s linear infinite alternate-reverse;
    transform-origin: top;
  }
  .bell {
    cursor: pointer;
    font-size: 30px;
  }
  /* @keyframes redDot {
      0% {
        transform: rotate(-20deg);
      }
      100% {
        transform: rotate(20deg);
      }
    } */
  
  .redDot::after {
    content: attr(current-count);
    position: absolute;
    top: 5px;
    right: 5%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    /* border: 10px solid #01111b; */
  }
.bell-notification {
  position: relative;
}

.bell-notification.close-box .small-box {
  display: none;
}
.taskNotification,
.submissionNotification {
  background-color: #f9f9f9;
  padding: 10px 15px;
}

.taskNotification p,
.submissionNotification p {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #333333;
}
.taskName {
  bottom: 0.4rem;
}
.taskDate {
  right: 1rem;
  bottom: 0.4rem;
}
.small-box hr {
  border: none;
  border-top: 1px solid black;
  margin: 0 0;
}
