.pageNotFound{
    width: 50vw !important;
    height: auto !important;  
}
@media (max-width: 700px){
    .pageNotFound{
        width: 100vw !important;
        height: auto !important;
    }
}
@media (max-width: 1000px){
    .pageNotFound{
        width: 60vw !important;
        height: 50vh !important;
    }
}
