.offcanvas-body {
  padding: 20px;
}

.chat-window {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.chat-body {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.message {
  margin-bottom: 15px;
  display: inline-block;
}

.message p {
  margin: 0;
  text-align: start;
  padding-top: 10px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 10px;
  min-width: 40%;
  max-width: 80%;
  word-break: break-word;
  display: inline-block;
  position: relative;
}

.sender-message {
  display: flex;
  justify-content: flex-start;
}

.sender-message p {
  background-color: #fff;

  color: #000;
}

.receiver-message {
  display: flex;
  justify-content: flex-end;
}

.receiver-message p {
  background-color: #dcf8c6;
  color: #000;
}

.chat-footer {
  padding: 20px;
  background-color: #f8f9fa;
}

.input-group {
  width: 100%;
}

.input-group input {
  border-radius: 4px;
}

.btn-primary {
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
}
.message-timestamp {
  position: absolute;
  bottom: 0;
  right: 10px;
  font-size: 15px;
  color: #888;
}
