.task-submission-trainee {
  height: 496px;
}
.task-submission{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.chatDiv{
  bottom: 3% !important;
  right: 3% !important;
  z-index: 1100;
  background-color: white;
  border-radius: 50%;
}
.chat-icon{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
}
.chat-icon:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50%;
  cursor: pointer;
}